*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(https://harshiitgarg.github.io/eduford/banner.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.logo img{
    width: 150px;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 8px 12px;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
}
.nav-links ul li::after{
    content: "";
    left: 0;
    bottom: -1;
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    cursor: pointer;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 90%;
}
.text-box h1{
    font-size: 64px;
}
.text-box p{
    font-size: 20px;
    margin: auto;
    padding: 15px;
}
.hero-btn{
    width: 150px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    border: 1px solid #fff;
    padding: 15px;
    margin: 25px 10px;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}
nav .fa-solid{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 34px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 0;
        right: -200px;
        background: #f44336;
        height: 100vh;
        width: 200px;
        z-index: 1;
        text-align: left;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: white;
        margin: 5px;
        cursor: pointer;
    }
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.course h1{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px ;
}
.course p{
    font-size: 15px;
    font-weight: 600;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.courses{
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    background-color: wheat;
    padding: 15px;
    transition: 0.5s;
}
.courses h1{
    font-size: 25px;
    font-weight: bold;
}
.courses:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media(max-width : 700px){
    .row{
        flex-direction: column;
    }
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 600;
}
.campus h1{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
}
.campus-col{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 32%;
}
.campus-col img{
    width: 100%;
    /* height: 100%; */
    display: block;

}
.layer{
    background: transparent;
    height: 1000%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
 .layer h3{
    font-size: 26px;
    font-weight: 500;
    bottom: 50;
    width: 100%;
    color: white;
    left: 0%;
    transform: translateY(1500%); 
    /* position: absolute; */
     opacity: 0;
    transition: 0.5s; 
} 
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facilities h1{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
}
.facilities p{
    font-size: 15px;
    font-weight: 600;
}
.facilites-col{
    flex-basis: 31%;
    text-align: left;
    margin: auto;
}
.facilites-col img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.facilites-col h3{
    margin-bottom: 5px;
    font-size: 20px;
}
.facilites-col p{
    font-size: 15px;
    font-weight: 600;
}

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.testimonials h1{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
}
.testimonials p{
    font-size: 15px;
    font-weight: 600;
}
.testimonials-col{
    background-color: wheat;
    flex-basis: 44%;
    text-align: left;
    margin-bottom: 5%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    padding: 25px;
}
.testimonials-col img{
    height: 40px;
    margin: 0px 30px 0px 5px;
    border-radius: 50%;
}
.testimonials h3{
    margin: 10px 0 ;
    text-align: left;
}
.testimonials .fa-star{
    color: #f44336;
}

.cta{
    margin: 100px auto;
    width: 80%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://harshiitgarg.github.io/eduford/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
}
.cta h1{
    color: #fff;
    font-size: 26px;
    margin-bottom: 10px;
}

.footer{
    text-align: center;
    width: 100%;
}
.footer h3{
    font-size: 26px;
    margin-bottom: 20px;
}
.icons i{
    margin: 20px 10px;
    color: #f44336;
    cursor: pointer;
}
